:root { 
--gray_501:#a3a3a3; 
--yellow_600:#ffd231; 
--gray_500:#949494; 
--black_900:#100d09; 
--black_902:#0f0c09; 
--black_901:#000000; 
--gray_900:#1e1e1e; 
--red_500:#ff3030; 
--deep_purple_A200:#9747ff; 
--gray_200:#eeeeee; 
--white_A700:#ffffff; 
}